.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  padding-top: 20px;
}

.App-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.App-btn {
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: #222;
  color: #fff;
}

.App-btn:hover {
  background: rgb(119, 119, 119);
}

.App-delete-btn {
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background: rgb(196, 0, 0);
  color: #fff;
}

#reactTableDiv {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

table {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}

th {
  border-bottom: 1px solid rgb(119, 119, 119);
  width: 200px;
}

td {
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
}

fieldset {
  border: 1px solid rgb(119, 119, 119);
  color: rgb(119, 119, 119);
}

input {
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
